.results__article_title {
  margin-top: 0;
  margin-bottom: 16px;
  width: 100%;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}