@import url(./_menu/header__container_menu.css);

.header__container {
  margin-right: 104px;
  display: flex;
}

@media screen and (min-width: 500px) and (max-width: 1023px) {
  .header__container {
    margin-right: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 657px) {
  .header__container {
    display: none;
  }
}