.results__article_save {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-image: url('../../../../images/save-not-auth.png');
  background-position: center;
  background-repeat: no-repeat;
}
.results__article_save-auth {
  background-image: url('../../../../images/save-auth.png');;
}

.results__article_save-info {
  position: absolute;
  top: 0px;
  right: 45px;
  margin: 0;
  background-color: #FFF;
  height: 40px;
  width: 182px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: none;
}
.results__article_save-info-text {
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}

.results__article_save:hover {
  background-image: url('../../../../images/save-not-auth-hover.png');
}

@media screen and (min-width: 1024px) {
  .results__article_save:hover .results__article_save-info {
    display: flex;
    z-index: 999;
  }
}

@media screen and (min-width: 658px) and (max-width: 1023px) {
  .results__article_save {
    top: 8px;
    right: 8px;
  }
}

@media screen and (min-width: 320px) and (max-width: 657px) {
  .results__article_save {
    top: 16px;
    right: 16px;
  }
}