.footer__container {
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 657px) {
  .footer__container {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-between;
  }
}