.header__title {
  margin-left: 104px;
  margin-top: 30px;
  margin-bottom: 26px;
  color: #FFFFFF;
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

@media screen and (min-width: 500px) and (max-width: 1023px) {
  .header__title {
    margin-left: 40px;
    margin-top: 22.73px;
    margin-bottom: 18.47px;
  }
}