.popup__error-message_user {
  /* margin-top: 17px;
  margin-bottom: 0; */
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 125px;
  text-align: center;
  opacity: 1;
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 657px) {
  .popup__error-message_user {
    bottom: 140px;
  }
}