@import url(./_container/results__article_container.css);
@import url(./_image/results__article_image.css);
@import url(./_date/results__article_date.css);
@import url(./_title/results__article_title.css);
@import url(./_text/results__article_text.css);
@import url(./_source/results__article_source.css);
@import url(./_save/results__article_save.css);

.results__article {
  border-radius: 16px;
  background-color: #FFFFFF;
  height: 576px;
  width: calc((100% - 16px * 2) / 3);
  margin-right: 16px;
  position: relative;
}

.results__article:last-child {
  margin-right: 0;
}

.results__article:hover {
  cursor: url('../../../images/Pointer.png'), pointer;
}