@import url(./__info/article__info.css);

.article {
  z-index: 2;
  margin-right: 16px;
  margin-bottom: 16px;
  border-radius: 16px;
  height: 576px;
  width: calc((100% - 16px * 2) / 3);
  position: relative;
  background-color: #FFFFFF;
}

.article:nth-child(3n) {
  margin-right: 0;
}

.article:hover {
  cursor: url('../../images/Pointer.png'), pointer;
}

@media screen and (min-width: 658px) and (max-width: 1023px) {
  .article {
    margin-right: 8px;
    margin-bottom: 8px;
    height: 420px;
    width: calc((100% - 8px * 2) / 3);
  }
}
@media screen and (min-width: 320px) and (max-width: 657px) {
  .article {
    margin-right: 0;
    margin-bottom: 9px;
    height: 446px;
    width: 100%;
  }
}