.search__container {
  margin: 80px auto 64px;
  width: 608px;
}

@media screen and (min-width:500px) and (max-width: 1023px) {
  .search__container {
    margin: 38px auto 48px;
    width: 448px;
  }
}