@import url(../../__message/article__message.css);

.article__icon_save {
  background-image: url('../../../../images/save-not-auth.png');
}

.article__icon_save:hover {
  background-image: url('../../../../images/save-not-auth-hover.png');
}

/* @media screen and (min-width: 1024px) {
  .article__icon_save:hover .article__message {
    display: flex;
    z-index: 999;
  }
} */