@import url(./__site/footer__site.css);
@import url(./__container/footer__container.css);
@import url(./__links/footer__links.css);
@import url(./__ref/footer__ref.css);
@import url(./__link/footer__link.css);
@import url(./__icons/footer__icons.css);
@import url(./__icon/footer__icon.css);
@import url(./__icon-link/footer__icon-link.css);
@import url(./__icon-image/footer__icon-image.css);

.footer {
  margin: 0 auto;
  max-width: 1232px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 500px) and (max-width: 1023px) {
  .footer {
    max-width: 688px;
  }
}