.header__link {
  margin-right: 0;
  margin-left: 0;
  padding-bottom: 23px;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
}

.header__link:hover {
  cursor: url('../../../../images/Pointer.png'), pointer;
}

@media screen and (min-width: 500px) and (max-width: 1023px) {
  .header__link {
    padding-bottom: 20px;
    font-size: 16px;
  }
}