.popup__content {
  width: 430px;
  height: 380px;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

@media screen and (min-width: 320px) and (max-width: 657px) {
  .popup__content {
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    position: relative;
    box-sizing: border-box;
    padding: 16px;
    height: 380px;
  }
}