@import url(../../__message/article__message.css);

.article__icon_delete {
  background-image: url('../../../../images/button-delete.png');
}

.article__icon_delete:hover {
  background-image: url('../../../../images/button-delete-hover.png');
}

/* @media screen and (min-width: 1024px) {
  .article__icon_delete:hover .article__message {
    display: flex;
    z-index: 999;
  }
} */