.footer__site {
  margin-top: 32px;
  margin-bottom: 26px;
  width: 433px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
}