.about__photo {
  margin: 80px 54px 80px 104px;
  width: 464px;
  height: 464px;
}

@media screen and (min-width: 500px) and (max-width: 1023px) {
  .about__photo {
    margin: 61px 32px 61px 40px;
    width: 232px;
    height: 232px;
  }
}
@media screen and (min-width: 320px) and (max-width: 657px) {
  .about__photo {
    margin: 32px auto 24px;
    width: 272px;
    height: 272px;
  }
}