@import url(./__link/header__link.css);
@import url(./__link/_active-main/header__link_active-main.css);
@import url(./__link/_active-articles/header__link_active-articles.css);
@import url(./_menu/header__links_menu.css);

.header__links {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  margin-top: 30px;
  margin-bottom: 0px;
}

@media screen and (min-width: 500px) and (max-width: 1023px) {
  .header__links {
    margin-top: 22px;
  }
}