@import url(./_auth/button__header_not-login.css);
@import url(./_auth/button__header_login.css);
@import url(./_text/button__header_text.css);
@import url(./_logout/button__header_logout.css);

.button__header {
  margin-top: 19px;
  margin-left: 32px;
  border: 1px solid #FFFFFF;
  background: transparent;
  height: 48px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}