.about__text {
  margin-top: 0;
  max-width: 600px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

@media screen and (min-width: 500px) and (max-width: 1023px) {
  .about__text {
    max-width: 424px;
  }
}