@import url(./__content/menu__content.css);
@import url(./__container/menu__container.css);

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  z-index: 3;
  display: none;
}